body {
	font-family: monospace;
}
h1, h2 {
	text-align: center;
}

.earth-wrapper {
	display: flex;
	font-size: 20vh;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.astroid {
	display: flex;
	padding: 0.25rem;
	font-size: 1.3rem;
	justify-content: center;
	cursor: pointer;
	border-bottom: solid 0.1rem;
	margin: auto;
}
